body {
  overflow: hidden;
}

.bigButton {
    max-width: 100%;
    width: 100%;
    height: 100vh;
  position: absolute;
  z-index: 2;
  background-color: darkslategrey;
  opacity: 0.5;
}
.container {
    display: flex;
    flex-direction: column;
    position: relative;
}
#bgImg {
    height: 100vh;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

#grabImg {
    width: 50%;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}



/*New Asset Additions*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.bubbleBox {
  width: 100%;
  height: auto;
  max-width: 50vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
          

#outerPeepHole {
  z-index: 2;
}

#peepHole {
  z-index: 3;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.trashItem {
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  z-index: 1;
  
  /*Center absolute elements*/
  left: 50%;
  margin-left: -100px;
  
  /*60 seems about centered*/
  top: -300px;         
}

.transitionTop {
  transition: top 1s ease-out; 
}